<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/score" method="POST">
      <h1>Assign Scores to the candidate</h1>
      <label for="">Candidate Email :</label>
      <input type="text" name="candidateEmail" />
      <h2>Candidate Score</h2>
      <label for="">First round score :</label>&nbsp; &nbsp;
      <input type="number" name="firstScore" /><br />
      <br />
      <label for="">Second round score :</label>
      <input type="number" name="secondScore" /><br />
      <br />
      <label for="">Third round score : </label> &nbsp;
      <input type="number" name="thirdScore" /><br />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
